<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarketsales</title>
</head>
<body>
    <h1>Supermarket Sales Analysis</h1>
    <iframe src="https://ap2.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FDA-assignment1&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018b0a02d9aa_00000002" width="1290" height="800" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</body>
</html>